body {
  font-family: Arial, Helvetica, sans-serif;
  text-align:center;
  color:white;
}
.parallax { 
  /* The image used */
  background-image: url("../images/background.jpg");

  /* Set a specific height */
  height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.dropzone, .drop, .drop1, .drop2, .drop3, .drop7 {
  background-color: white;
  color:black;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px auto;
  padding: 10px;
  transition: background-color 0.3s;
  opacity:0.5;
  width: 50%;
  padding: 10px;
  height: 140px;
}
.drop6, .drop6a, .drop6b, .drop6c {
background-color: white;
color:black;
border: dashed 4px transparent;
border-radius: 4px;
margin: 10px auto 30px auto;
padding: 10px;
transition: background-color 0.3s;

width: 50%;
padding: 10px;
height: 140px;
}
.drop4 {
  position: absolute;
  left:850px;
  top:370px;
  background-color: red;
  color:black;
  border: dashed 2px transparent;
  border-radius: 2px;
  width: 20px;
  height:20px;
}
.drop4a {
  position: absolute;
  left:50px;
  bottom:250px;
  background-color: red;
  color:black;
  border: dashed 2px transparent;
  border-radius: 2px;
  width: 20px;
  height:20px;
}
.drop4b {
  position: absolute;
  left:170px;
  top:120px;
  background-color: red;
  color:black;
  border: dashed 2px transparent;
  border-radius: 2px;
  width: 20px;
  height:20px;
}
.drop-active {
  border-color: #aaa;  
}
.drop-target {
  background-color: rgb(82, 152, 199);
  border-color: #fff;
  border-style: solid;
}
.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 2em 0.5em;

  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;

  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.can-drop {
  color: #000;
  background-color: #4e4;
}
h1 {
  text-align:center;
}
.answer, .answer1, .answer2, .answer3, .answer6, .answer6a, .answer6b, .answer6c, .answer7 {
  display: inline-block;
  min-width: 40px;
  padding: 2em 0.5em;
  color: #fff;
  border: solid 2px #fff;
  background-color: rgb(9, 11, 112);
}
.answer4 {
  display: inline-block;
  position: relative;
  z-index: 1;
  min-width: 10px;
  padding: 6px 1px 6px 1px;
  color: #fff;
  border: solid 2px #fff;
  background-color: aqua;
}