.mainContainer {
    background-color: pink;
}

#carbonDataContainer {
    background-color: rgb(83, 153, 83);
}
#news {
    width: 100%;
    display: flex;
}
.news {
    width: 33.33%;
    text-align: center;
}
.news img {
    width: 200px;
}
