.jumbotron {
	margin: 40px 40px 40px;
	text-align: center;
}
.mainContainer {
	width: 100% !important;
	max-width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
}
.container {
	max-width: 100%;
}
.description {
	text-align: center;
}

/*================Menu================*/
.navFlex {
	position: fixed;
	top: 0;
	width: 100%;
	background: #003366;
	z-index: 10;
	height: 40px;
}
.navFlex .nav {
	margin: 0 auto;
}
.navFlex a {
	color: #fff;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}
.navFlex a:hover {
	color: #ccc;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}
h1 {
	margin-bottom: 40px;
}

/*==============CO2 DATA==============*/

#carbonDataContainer {
	border: solid 3px #ccc;
	border-radius: 5px;
	padding: 40px;
	margin-bottom: 40px;
	max-width: 1140px ;
}

/*=============WORLD NEWS=============*/

/#news {
/	 width: 100%;
/	 display: flex;
}
/.news {
/	 width: 33.33%;
/	 text-align: center;
/}
.news img {
	width: 200px;
}

/*======STARGAZING EVENTS AND TIMERS======*/

#spaceEventContainer {
	color: #fff;
	padding: 40px;
	margin-bottom: 40px;
	background-image: url("../images/space-bg.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 100%;
	background-size: cover;
}
#spaceEventContainer .row {
	max-width: 1140px;
	margin: auto;
}
#spaceCountdown {
	
}
#spaceCountdown #counterDiv {
    background: rgba(255,255,255,0.25);
    border-radius: 5px;
    padding: 20px;
}
#spaceCountdown #countdown {
    
}
#spaceCountdown #countdownUnits {

}

#countdownUnitsMobile {
    display: none;
}
@media only screen and (max-width: 500px) {
    #countdownUnits {
        display: none;
    }
    #countdownUnitsMobile {
        display: block;
    }
}
#countdownUnits span, #countdownUnitsMobile span {
	float: left;
	text-align: center;
	font-size: 18px;
	padding: 0 20px 20px;
	margin: 0 2.5%;
	color: #fff;
	width: 20%;
}
#countdown span {
	float: left;
	text-align: center;
	font-size: 24px;
	padding: 10px 0px;
	margin: 0 2.5%;
	color: #fff;
	width: 20%;
	border-radius: 5px;
}

#countdown span:nth-child(1) {
	background: #003366;
}

#countdown:after {
	content: "";
	display: block;
	clear: both;
}

#countdown span.turn {
	animation: turn 500ms ease forwards;
}

@keyframes turn {
	100%{transform: rotateX(360deg)}
}

/*==============NEWS===============*/
#newsContainer {
	border: solid 3px #ccc;
	border-radius: 5px;
	padding: 40px;
	margin-bottom: 40px;
	max-width: 1140px;
}
